html, body {
  background: #f1f3f5;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #345;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

form {
  width:100%;
}

textarea {
    height: 300px;
}

.g-blog {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  position: relative;
  margin: 0 0 10px 0;
}

nav .m-title {
  font-size: 64px;
  text-align: center;
  font-weight: 200;
  color: #9eaab6;
}

nav .m-nav {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

nav .m-nav li {
  padding: 5px;
  margin: 10px 5px;
  cursor: pointer;
}

nav .m-nav li:hover {
  color:#ff6600;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.m-blog {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
}

.m-blog .m-title {
  margin-top: 8px;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  color: #745fb5;
  font-size: 24px;
}

.m-blog .m-title:after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,rgba(116,95,181,.2),transparent 80%);
}

.m-body {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
    max-height: 120px;
    overflow: hidden;
}

.m-blog .m-body h3 {
    background: #f8f9fa;
    font-size: 18px;
    padding: 5px 15px;
    font-weight: 200;
    color: #666;
    margin: 0;
    position: relative;
}

.m-blog .m-body p {
  margin: 0;
  padding: 16px;
}

.m-new,.m-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 640px;
  box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
  padding: 10px;
  background: #fff;
  border-radius: 2px;
}


.m-field {
  font-size: 16px;
  margin: 10px 5px;
  padding: 10px 15px;
  color: #666;
  outline: none;
  border: 1px solid #ccc;
}

button.m-field {
  background-color: #745fb5;
  background: linear-gradient(5deg,#745fb5,#9066b8);
  color: #fff;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 3px;
}

.m-flash {
  position: fixed;
  top: 40px;
  left: 50%;
  padding: 10px 25px;
  color: #fff;
  transform: translate(-50%, -50%);
  background: rgba(136,238,187,0.9);
  opacity: 0;
  animation-name: TOAST-APPEAR;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes TOAST-APPEAR {
  0% {
      opacity: 0;
  }
  15% {
      opacity: 1;
  }
  80% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


.m-info {
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc( 50% + 120px );
  top: 40px;
  font-size: 16px;
  background: #fff;
  padding: 2px 20px;
  border-radius: 2px;
  box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
  color: #333;
}


.m-code {
  display: none;
}


a.m-more {
    display: block;
    position: absolute;
    right: 5px;
    top: 10px;
    background: #999;
    color: #fff;
    padding: 0 10px;
    font-size: 12px;
}

.m-wrap {
    display: flex;
    position: fixed;
    padding: 20px;
    /* top: 10px; */
    width: 800px;
    margin: 0 auto;
    background: #fff;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.g-show {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
}



.m-close {
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #222;
    right: -13px;
    top: -13px;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.m-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.m-close:after, .m-close:before {
    content: " ";
    position: absolute;
    right: 12px;
    top: 5px;
    border-left: 2px solid #eee;
    height: 15px;
    width: 0;
}

.m-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.m-func {
    position: relative;
    height: 36px;
    margin: 5px 5px 0 5px;
    display: flex;
}

#uploadFile {
  opacity: 0;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  display: block;
}

.m-btn {
    width: 36px;
    height: 36px;
    border: 1px solid #765fb5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #745fb5;
    color: #fff;
    CURSOR: POINTER;
    margin: 0 5px;
}

.m-row {
  display: flex;
}

.m-title {
  flex: 3;
}

.m-date {
  flex: 1;
}